.github
.vscode
.yarn
node_modules
src
tests
vendor/gifsicle
vendor/v1.94
vendor/v1.96/linux/x64/gifsicle.tar.gz
.editorconfig
.eslintignore
eslint.config.js
.gitattributes
.gitignore
.mocharc.json
.prettierignore
prettier.config.js
.whitesource
.yarnrc.yml
tsconfig.install.json
tsconfig.json
yarn.lock